 *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
body{margin:0;padding:0;font-family:tahoma,'PingFang SC','microsoft yahei',arial,'helvetica neue','hiragino sans gb',sans-serif;background:#fff;}
 body img{border:none;margin:0;padding:0;}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{margin:0;padding:0;word-break:break-all;word-wrap:break-word;}
ul{margin:0;padding:0;list-style-type:none;font-size:0;line-height:0;word-break:break-all;word-wrap:break-word;}
dl,dt,dd{margin:0;padding:0;border:0;}
.spacer{clear:both;font-size:0;line-height:0;}
a{color:#666;text-decoration:none;}
a:hover{color:#e4393c;text-decoration:none;}
:focus{outline:0;}
input,select,button{font-family:tahoma,'PingFang SC','microsoft yahei',arial,'helvetica neue','hiragino sans gb',sans-serif;}
html,body{width:100%;height:100%;overflow:hidden;}
input::-webkit-input-placeholder{color:#fff;}
input[type=date]::-webkit-inner-spin-button{visibility:hidden;}
input[type=date]::-webkit-calendar-picker-indicator:hover{background:none;}
input[type=date]::-webkit-clear-button{visibility:hidden;}
 #toolbar input {
	 vertical-align: middle;
	 padding-top: 2px;
	 padding-bottom: 2px;
	 margin: 5px 0px;
	 width:150px;;
 }
.map-container{position:relative;width:100%;height:100%;}
    .scene-main{float:left;width:100%;height:100%;}
    .map-main{float:right;width:0%;height:100%;}
	.rtop-tool{position:absolute;right:120px;top:15px;width:300px;height:45px;border-radius:3px;background:rgba(75,122,185,.4);}
		.rtop-tool ul{float:left;width:300px;height:100%;padding:0 14px;}
		.rtop-tool ul li{float:left;width:34px;height:45px;padding:7px 1px 6px 1px;}
		.rtop-tool ul li a,.rtop-tool ul li.active a{display:block;width:32px;height:32px;padding:0 7px;
			background: url(../images/icon_image.png) no-repeat;
		}
		.rtop-tool ul li a:hover,.rtop-tool ul li.active a{background-color:#1b417a;border-radius:50%;}
		.rtop-tool ul li a.rtop-t01{background-position:-1px -7px;}
		.rtop-tool ul li a.rtop-t02{background-position:-35px -7px;}
		.rtop-tool ul li a.rtop-t03{background-position:-69px -7px;}
		.rtop-tool ul li a.rtop-t04{background-position:-103px -7px;}
		.rtop-tool ul li a.rtop-t05{background-position:-137px -7px;}
		.rtop-tool ul li a.rtop-t06{background-position:-171px -7px;}
		.rtop-tool ul li a.rtop-t07{background-position:-205px -7px;}
		.rtop-tool ul li a.rtop-t08{background-position:-239px -7px;}
		.rtop-tool ul li a.rtop-t09{background-position:-273px -7px;}
		.rtop-tool ul li a:hover{transform-origin:center center;transform:rotate(360deg);transition:transform 0.2s;}
    .tool-panel{position:absolute;right:160px;top:80px;width:260px;display:none;background:rgba(0,0,0,.5);padding:10px 0;color:#fff}
	.layer-panel{position:absolute;right:160px;top:80px;width:260px;display:none;background:rgba(0,0,0,.2);padding:10px 0;}
	    .layer-panel:after{content:'';display:block;position:absolute;left:24px;top:-4px;width:0;height:0;
			border: 7px solid transparent;
			border-bottom-color: rgba(24, 44, 74, .8);
		}
	    .layer-tree{float:left;width:100%;height:436px;padding:0 10px;overflow:hidden;}
		#layer-tree .dtree{float:left;width:240px;font-size:13px;color:#fff;}
		#layer-tree .dtree .dTreeNode{float:left;width:240px;height:40px;margin-bottom:4px;line-height:40px;padding-left:15px;}
		#layer-tree .dtree>.dTreeNode{display:none;}
		#layer-tree .dtree>.clip>.dTreeNode{background:rgba(24,44,74,.8);}
		#layer-tree .dtree>.clip>.clip>.dTreeNode{background:rgba(24, 44, 74,.5);}
		#layer-tree .dtree>.clip>.clip>.clip>.dTreeNode{background:rgba(24, 44, 74,.5);}
		#layer-tree .dtree .dTreeNode>img{position:relative;top:4px;padding:0 6px 0 0;}
		#layer-tree .dtree .dTreeNode a>img{position:relative;top:5px;padding:0 2px 0 0;}
		#layer-tree .dtree .dTreeNode a{color:#fff;text-decoration:none;}
		#layer-tree .dtree .dTreeNode a.node{display:inline-block;width:60%;}
		#layer-tree .dtree .dTreeNode{position:relative;cursor:pointer;}
		#layer-tree .dtree .dTreeNode span{position:absolute;right:0;top:0;width:80px;height:40px;cursor:pointer;font-size:20px;line-height:40px;text-align:center;}
		#layer-tree .dtree .dTreeNode span em{display:block;width:80px;height:40px;
			background: url(../images/tree_btn.png) no-repeat;
		}
		#layer-tree .dtree .dTreeNode span em{background-position:center 13px;}
		#layer-tree .dtree .dTreeNode span em.selected{background-position:center -31px;}

    .data-panel{position:absolute;right:15px;top:80px;width:526px;background:rgba(24,40,58,.6);display:none;}
	    .data-tab{float:left;width:100%;height:55px;margin-bottom:20px;padding:15px 20px 0 20px;background:rgba(27,65,122,.8);}
	    .data-tab ul{float:left;width:100%;height:39px;}
	    .data-tab ul li{float:left;margin-right:20px;}
	    .data-tab ul li a{display:block;height:39px;padding:0 10px;font-size:13px;font-weight:bold;line-height:39px;color:#fff;}
	    .data-tab ul li.active a{background:#fff;border-radius:4px 4px 0 0;color:#2d6cca;}
	    .data-tab ul span{float:right;display:block;width:24px;height:24px;position:relative;top:4px;text-align:center;cursor:pointer;}
	    .data-tab ul span i.iconfont{font-size:16px;color:#fff;line-height:24px;}
	    .data-inf{float:left;width:100%;height:280px;padding:0 20px;overflow:hidden;}
	    .data-inf dl{float:left;width:154px;height:140px;margin-right:12px;}
	    .data-inf dl:nth-child(3n){margin-right:0;}
	    .data-inf dl dt{float:left;width:100%;height:100px;}
	    .data-inf dl dt img{width:154px;height:100px;border:2px #fff solid;}
	    .data-inf dl dd{float:left;width:100%;height:30px;line-height:30px;color:#fff;text-align:center;font-size:13px;}
	    .data-inf dl:hover dt img{border-color:#2d6cca;cursor:pointer;}
	    .data-inf dl:hover dd{color:#2d6cca;}
	    .data-bot{float:left;width:100%;height:40px;background:rgba(27,65,122,.8);}

    .bbot-navs{position:absolute;left:50%;bottom:50px;transform:translateX(-50%);width:270px;height:80px;border-radius:40px;background:rgba(32,60,128,.5);z-index:9999}
	    .bbot-navs ul{float:left;width:100%;height:100%;padding:17px 0;text-align:center;}
	    .bbot-navs ul li{display:inline-block;width:46px;height:46px;background:#fff;border-radius:50%;margin:0 10px;}
	    .bbot-navs ul li a{display:block;width:100%;height:100%;line-height:46px;text-align:center;color:#2b4a9a;}
	    .bbot-navs ul li i.iconfont{font-size:30px;}
	    .bbot-navs ul li i.icon-diqiu{position:relative;top:-2px;}
	    .bbot-navs ul li i.icon-c-gps{font-size:26px;}
	    .bbot-navs ul li i.icon-qiche{font-size:32px;}
	    .bbot-navs ul li i.icon-lunchuan{font-size:27px;}
	    .bbot-navs ul li.active{background:#2b4a9a;}
	    .bbot-navs ul li.active a{color:#fff;}

	.left-panel{position:absolute;left:20px;top:20px;bottom:50px;width:400px;}
	    .lp-head{float:left;width:100%;height:44px;background:#0b1b32 url(../images/left_panel_head.png) 0 bottom no-repeat;padding-top:16px;}
	    .lp-head span.name{display:block;float:left;line-height:28px;font-size:16px;font-weight:bold;color:#fff;padding-left:60px;}
	    .lp-head span.close{display:block;float:right;height:28px;width:28px;cursor:pointer;}
	    .lp-main{float:left;width:100%;padding:0 10px;background:#0b1b32;overflow: hidden}
	        .lp-file{float:left;width:100%;height:30px;margin:20px 0;}
                .file-text{float:left;height:100%;width:27%;font-size:14px;line-height:30px;color:#fff;padding-right:10px;padding-left:2px;}
                .file-sele{float:left;height:100%;width:73%;}
	                .file-sele select{width:100%;height:100%;border:0;background:#1b417a;padding-left:10px;font-size:14px;line-height:30px;color:#fff;font-weight:bold;}

            .lp-timeline{float:left;width:100%;height:20px;margin-bottom:20px;}
                .time-l{float:left;height:20px;font-size:15px;color:#fff;line-height:20px;font-family:arial;font-weight:bold;}
                .time-m{float:left;width:250px;height:3px;margin:8px 20px;background:#1b417a;position:relative;}
                .time-m span{display:block;position:absolute;left:0;top:-5px;width:13px;height:13px;background:#fff;border-radius:50%;}
            .lp-date{float:left;width:100%;height:20px;margin-bottom:20px;color:#fff;line-height:20px;font-family:arial;font-weight:bold;font-size:13px}
		    .lp-ctrl{float:left;width:100%;height:34px;margin-bottom:20px;}
			    .lpd-inp{float:left;width:100px;height:100%;color:#fff;font-size:13px;line-height:34px;padding-left:5px;}
			    .lpd-inp input{width:40px;height:100%;border:0;background:#1b417a;font-size:14px;font-weight:bold;line-height:34px;color:#fff;margin-left:10px;text-align:center;}
			    .lpd-btn{float:left;width:80px;height:100%;background:#1b417a;margin-right:12px;border-radius:4px;}
			    .lpd-btn a{display:block;width:100%;height:100%;text-align:center;line-height:34px;color:#fff;font-size:15px;font-weight:bold;}
			    .lpd-btn i.iconfont{font-size:15px;position:relative;top:1px;padding-right:5px;}
			    .lpd-btn.play i{color:#309516;}
			    .lpd-btn.stop i{color:#ef0c0c;}
            .lp-statistic{float:left;width:100%;height:20px;font-size:11px;position:relative;color:#fff;margin-bottom:10px}
            .lp-des{float:left;width:100%;height:20px;font-size:13px;position:relative;color:#fff;margin-bottom:20px;}
			.lp-search{float:left;width:100%;height:34px;margin-bottom:20px;position:relative;}
			    .lp-search input{width:100%;height:100%;background:#1b417a;border:none;font-size:15px;line-height:34px;color:#fff;padding-left:10px;}
			    .lp-search button{position:absolute;right:0;top:0;width:50px;height:34px;border:0;background:#1b417a;cursor:pointer;}
			    .lp-search button i.iconfont{font-size:18px;font-weight:bold;color:#fff;}
			.lp-info{float:left;width:100%;overflow:hidden;bottom:100px}
				.lpi-box{float:left;width:100%;height:50px;background:rgba(255,255,255,.1);margin-bottom:7px;}
                .lpi-box.active{background:rgba(255,200,0,.8);}
				.lpi-box:last-child{margin-bottom:0;}
				.lpib-list{float:left;padding:5px 5px;color:#fff;font-size:13px;}
				.lpib-list p{line-height:20px;}
                .lpib-list p a{color:#fff;}
				.lpib-list span{line-height:40px;}
				.lpib-list i.icon-xinhao{padding-left:8px;}
				.lpib-list i.icon-yuan-copy{margin-left:10px;font-size:13px;}
				.lpib-list i.icon-qiche{font-size:20px;position:relative;left:3px;}
				.lpib-list:first-child p,
				.lpib-list i.icon-qiche,
				.lpib-list i.icon-xinhao{color:#309516;}
				.lpi-box.offline .lpib-list:first-child p,
				.lpi-box.offline .lpib-list i.icon-qiche,
				.lpi-box.offline .lpib-list i.icon-xinhao{color:#bbb;}
				.lp-off{color:#ef0c0c;}
				.lp-on{color:#309516;}
            .lp-select{float:left;width:100%;overflow:hidden;bottom:100px}
                .lpi-top{float:left;width:100%;height:50px;background:rgba(255,255,255,.1);margin-bottom:7px;}
                .lpi-top.active{background:rgba(255,200,0,.8);}
                .lpi-top:last-child{margin-bottom:0;}
	    .lp-foot{float:left;width:100%;height:44px;background:url(../images/left_panel_foot.png) 0 0 no-repeat;}